@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body
{
	font-family: "Raleway", sans-serif;
	background-color: #dbdbdb;
}

#panel
{
	font-family: "Raleway";
}